src/main/mule/hello-display.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="902fd80b-11bb-4a9e-8279-c1e74828652e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-displayFlow" doc:id="82557aab-e8df-4f07-be50-bcb2211cba71" >
		<http:listener doc:name="Listener" doc:id="09589626-be2a-4d97-a635-f224c23f7aff" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="b820441c-c461-47fa-b8e6-2d12db272e4f" message="This is my first project in MuleSoft  ttttrrrr"/>
		<set-payload value='#["Hello,welcome to MuleSoft"]' doc:name="Set Payload" doc:id="52bcc8a3-83f6-4a47-9bf6-a716c96ac333" />
	</flow>
</mule>
